.info{
    text-align: center;
    margin-top: 1rem;
}
.cardHead{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.9rem;
    width: 100%;
    font-weight: bolder;
}
.cardIMG{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 10rem;
}
.card{
    padding: .5rem;
}
.stats{
    font-size: 1rem;
    margin-top: .5rem;
}
.nameTag{
    text-align: center;
    font-size: 1.5rem;

}